<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Event Type</th>
      <th scope="col">Clocked In or Clocked Out</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
  	<% @clock_events.each.with_index(1) do |user,index| %>
	    <tr>
	      <th scope="row"><%= index %></th>
	      <td><%= user.user.try(:name) %></td>
	      <td><%= user.event_type %></td>
	      <td><%= is_clocked(user) %></td>
	      <td><%= local_time(user.created_at.strftime("%Y-%m-%d %H:%M:%S")) %></td>
	    </tr>
	  <% end %>
  </tbody>
</table>