<%= form_with(model: @clock_event, local: true) do |form| %>
  <% if @clock_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clock_event.errors.count, "error") %> prohibited this @clock_event from being saved:</h2>

      <ul>
        <% @clock_event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
   <div class="field">
    <%= form.label :event_type %>
    <%= form.text_field :event_type %>
    </div>

    <%= form.label :created_at %>
    <p style="display: none"><%= local_time(@clock_event.created_at)%></p>
    <%= form.text_field :created_at , value: "" %>
    <%= form.text_field :offset , value: "" %>
  </div>

  <div class="field">
    <%= form.label :is_clocked %>
    <%= form.check_box :is_clocked %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<script type="text/javascript">
$(document).on('turbolinks:load', function() {
   setTimeout(function(){   
    $('#clock_event_created_at').val($('[datetime]')[0].innerText) }, 300);
    var offset = new Date().getTimezoneOffset();
    $("#clock_event_offset").val(offset/60)
});
</script>